<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        *{
            margin: 0px;
        }
        body{
            padding: 10px;
            background-color: black;
        }
    </style>
</head>
<body>
    <form action="/access" method="post">
    <input name="code" type="text" class="code-input" placeholder="Code">
    <button class="code-button">Check</button>
    </div>
  </div>
</body>
</html>